.header {
  background-color: #f3f3f8;
  border-bottom: 1px solid lightgray;
}

.btn-sort:active {
  background-color: #e5ebf6;
}

.magnifying-glass {
  position: absolute;
  top: 12px;
  left: 26px;
}

.search-bar {
  padding: 0 32px;
}
